@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #fff;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(#e4a9ff, #ff24ff);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background: #b71dff;
}
